*{
    margin: 0;
    padding: 0;
    font-family:Helvetica, sans-serif;

}
.outer-main{
    background-color:#3A3A40;
}
.inner-main{
   height: 100vh;
   width: 100vw;
    background-image: url(netflix-background-9.jpg);
    background-size: cover;
    
}
.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    
}
.title{
    color: #E50914;
    font-size: 5vw;
    margin-top: 1.5vw;
    margin-left: 12vw;
    
}
.signin{
    background-color:#E50914;
    border: none;
    width: 7vw;
    height: 2.7vw;
    border-radius: 0.4vw;
    margin-top: 1.5vw;
    /* margin-right: 7vw; */
    position: absolute;
    right: 10%;
    font-size: 1.2vw;
    font-weight: 500;
    cursor: pointer;
}
.signin a{
    text-decoration: none;
    color: #FFFFFF;
    
}
.main-content{
    width: 70vw;
    height:25vw;
    position:relative;
    top: 30%;
    left: 15%;
    
}
#heading1{
    
    color:#FFFFFF;
    font-size: 3.5vw;
    text-align: center;
    width: 100%;
}
#para1{
    color: #FFFFFF;
    font-size: 1.5vw;
    margin-top: 1.5vw;
    text-align: center;
}
#heading3{
    color: #FFFFFF;
    font-size: 1.3vw;
    font-weight: normal;
    text-align: center;
    margin-top: 2vw;
}
.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.5vw;
}
#email{
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #E50914;
    height: 4vw;
    width: 22vw;
    border-radius: 0.4vw;
    margin-right: 0.5vw;
    font-size: 1.1vw;
    padding-left: 1.5vw;
    
    
}
#getstarted{
    color: #FFFFFF;
    background-color: #E50914;
    border: none;
    height: 4.2vw;
    width: 12vw;
    border-radius: 0.4vw;
    font-size: 1.5vw;
    font-weight: 500;
    cursor: pointer;
    
}
#getstarted a{
    color: #FFFFFF;
    text-decoration: none;
}
#getstarted i{
    margin-left: 0.4vw;
}
#getstarted:hover{
    background-color:#a8020a;

}
.signin:hover{
    background-color:#a8020a;
}
.page2{
    width: 100%;
    height: 35vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 8vw 0;
    background-color: black;
    margin-top: 0.6vw;
}
.page2-content{
    
    width: 44vw;
    height: 20vw;
}
.page2-content h2{
    font-size: 5vw;
    font-weight: 700;
    color: #FFFFFF;
}
.page2-content p{
    font-size: 2vw;
    color: #FFFFFF;
    margin-top: 1vw;
}
.page2-image img{
    width: 45vw;
    height: 28vw;
}
.page4{
    width: 100%;
    height: 35vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 8vw 0;
    background-color: black;
    margin-top: 0.6vw;
}
.page4-content{
    
    width: 46vw;
    height: 29vw;
    margin: 1vw 12vw 0px 27vw;
    
}
.page4-content h2{
    font-size: 5.2vw;
    font-weight: 700;
    color: #FFFFFF;
}
.page4-content p{
    font-size: 3vw;
    color: #FFFFFF;
    margin-top: 2vw;
}

@media (max-width:600px) {
    *{
        margin: 0;
        padding: 0;
        font-family:Helvetica, sans-serif;
    
    }
    .outer-main{
        background-color:#3A3A40;
    }
    .inner-main{
        width: 100vw;
        height: 100vh;
        background-size: cover;
    }

    .title{
        font-size: 10vw;
        margin-top: 3vw;
        margin-left: 10vw;
    }
    .signin{
        width: 15vw;
        height: 5vw;
        border-radius: 0.8vw;
        margin-top: 3vw;
        position: absolute;
        right: 7%;
        font-size: 3vw;
        font-weight: 500;
    }
    .main-content{
        width: 100%;
        height: 80vw;
        position:relative;
        top: 10%;
        left: 0;
        
    }
    #heading1{
        font-size: 6vw;
        width: 100%;
    }
    #para1{
        font-size: 4vw;
        margin-top: 2.5vw;
    }
    #heading3{
        font-size: 3vw;
        font-weight: normal;
        margin-top: 2.5vw;
    }
    #email{
        height: 9vw;
        width: 80vw;
        margin-top: 3vw;
        font-size: 3.5vw;
        padding-left: 2.5vw;
        
        
    }
    #getstarted{
        
        height: 9vw;
        width: 50vw;
        font-size: 5.5vw;
        font-weight: 500;
        margin-top: 3vw;
        cursor: pointer;
    }
    #getstarted a{
        color: #FFFFFF;
        text-decoration: none;
    }
    #getstarted i{
        margin-left: 1vw;
    }
    .page2{
        width: 100vw;
        height: 80vw;
        display: flex;
        flex-wrap: wrap; 
         justify-content: center;
        align-items: center;
        padding: 8vw 0;
        margin-top: 0.3vw;
    }
    .page2-content{
        
        width: 62vw;
        height: 37.8vw;
        
    }
    .page2-content h2{
        font-size: 9vw;
        font-weight: 700;
        color: #FFFFFF;
    }
    .page2-content p{
        font-size: 3.5vw;
        color: #FFFFFF;
        margin-top: 2vw;
    }
    .page2-image img{
        width: 62vw;
        height: 37.8vw;
    }
    .page4{
        width: 100vw;
        height: 80vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 8vw 0;
        margin-top: 0.6vw;
    }
    .page4-content{
        
        width: 70vw;
        height: 43vw;
        /* margin: 1vw 13vw 0px 25vw; */
        
    }
    .page4-content h2{
        font-size: 11vw;
        font-weight: 700;
        color: #FFFFFF;
    }
    .page4-content p{
        font-size: 4.3vw;
        color: #FFFFFF;
        margin-top: 2vw;
    }


}
